<div class="row">
    <div class="col-xs-3">

		<ul class="nav nav-pills nav-stacked on-click-make-active">
            <li ui-sref-active="active"><a ui-sref="home.allPosts">View All Posts</a></li>
            
            
            <li ng-show="!($root.connectedTwitter)" ui-sref-active="active">
            <a ui-sref="home.twitter">Connect to Twitter</a>
            </li>
            
            <li ng-show="$root.connectedTwitter" ui-sref-active="active">
            <a ui-sref="home.twitterConnected">Your Twitter Profile Info</a>
            </li>
                       
            <li><a href ng-click="logout()">Logout</a></li>
        </ul>
   
    </div>
    <div class="col-xs-9 border-left">        
    	<div ui-view></div> <!--The nested views are loaded here -->    
    </div>
</div>