<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    
    <form name="form" ng-submit="register()" role="form">
        <div ng-show="error" class="alert alert-danger">{{errorMsg}}</div>
        <div ng-show="success" class="alert alert-success">{{registerSuccessMsg}}</div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email</label>
            <input type="text" name="email" id="Text1" class="form-control" ng-model="user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        
        
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
            
            <a href="#/login" class="btn btn-link">Login</a>
        </div>
    
    </form>
</div>