        <div class="row">
            <div class="col-xs-8">
                <form name="twiPostForm" class="form-horizontal" role="form" ng-controller="TwipostController" ng-submit="addPost()">
				
                    <div class="form-group" 
                    
                    style="padding: 14px;">
                        <textarea class="form-control" 
                        ng-model="content" 
                        name="content"
                        id="content"
                        cols="10" rows="4"
                        ng-required="true"
                        ng-trim="false" 
                        maxlength="140" 
                        placeholder="Jot and hashtag it #jotornot">
                        </textarea>
                        
                         <span style="color:grey">
                         	<font size="2">{{140 - content.length}} left</font> 
                         </span>
                    </div>

                   <div class="form-group">
                        
                        <div class="col-sm-offset-2 col-sm-10">        
                        <button type="submit" class="btn btn-success pull-right" ng-disabled="twiPostForm.$invalid">{{buttonText}}</button>    
                        </div>
                        
                    
                    </div>
            

                </form>
            
        


			<div ng-repeat="twipost in twiposts | orderBy:'-id'">

            	<hr />
            	<br>
            	<div class="well twipostContent"> 
            
           			 <p>{{twipost.text}}</p>
            
				</div> 
           	

			</div>
			
			</div>

	</div>