
			<h3>Connected to Twitter</h3>
			
			<form role="form" id="importTweets" ng-submit="importTweets()">
				
				<div class="formInfo">
					<p>You've now connected your Twitter account.
						Click the button if you wish to Import your tweets to Twiportr.</p>
				</div>
				
				<button type="submit" ng-disabled="!($root.ImportButtonActive)" class="btn btn-primary">{{buttonText}}</button>
					
				 
            	
				<!--  <input type="hidden" name="_method" value="delete" />  -->
				
			</form>
						

