		<div id="content">
			<h3>Connect to Twitter</h3>
				
<!-- 				<div th:if="${social_addConnection_duplicate}"><p>
				Another dolatr account already is linked with twitter account. 
				Please disconnect if it's your account. 
					Or connect a different twitter account."</p>
				</div>
	 -->			
			
			<form action="/connect/twitter" method="POST">
				
				<div class="formInfo">
					<p>
						You haven't created any connections with Twitter yet. 
						
					</p>
				</div>
				
				<input type="image" src="/twiportr/app/modules/home/img/connect-with-twitter.png" border="0" alt="Submit" />
				
				</br>
				<span style="font-size:10px">(You'll be redirected to Twitter where you'll be asked to authorize the connection.)</span>
				</p>
				
			</form>
		</div>
	</body>
</html>