<!--
	Display current logged in user profile data and social network accounts. 
-->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<div class="content-area">
	<div class="row">
		<div class="col-xs-9 col-sm-4">
						
		</div>
		
		<div class="col-xs-9 col-sm-5">
			<dl class="dl-horizontal">
				<dt>Display Name:</dt>
				<dd>{{myaccount.username}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Email Address:</dt>
				<dd>{{myaccount.email}}</dd>
			</dl>
			
			<dl class="dl-horizontal">
				<dt></dt>
				<dd>
					<button ng-click="editProfile()" class="btn btn-success">Edit</button>
				</dd>
			</dl>
			<p></p>

		</div>
	</div>

	<hr />
</div>