

 <div class="container" ng-controller="HomeController">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Connect with Twitter</h3>
            </div>
            
            <div class="col-xs-12">
                
                
                       <p>Twiposts</p>
                     
            </div>
                    
                
                
            </div>
</div>
      
