<!--
	List current logged in author all blog posts.
-->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">

<uib-accordion>
    <uib-accordion-group heading="Create" style="padding: 14px;">
        <div >
            <div >
                <form class="form-horizontal" role="form">

                    <div class="form-group" style="padding: 14px;">
                        <textarea id="twiPost-content" class="form-control" 
                        ng-model="twiPostForm.content" 
                        ng-trim="false" 
                        maxlength="140" 
                        placeholder="Jot and hashtag it #jotornot">
                        </textarea>
                         <span style="color:grey">
                         	<font size="2">{{140 - twiPostForm.content.length}} left</font> 
                         </span>
                    </div>

                   <div class="form-group">
                        <button ng-click="cancel()" class="btn pull-right">Not</button>
                        <button ng-click="submit()" class="btn btn-success pull-right">Jot</button>
                    </div>

                </form>
            </div>
        </div>

    </uib-accordion-group>
</uib-accordion>


<div>
		
        <div ng-repeat="twiPost in twiPosts">

            <hr />
            <br>
            <p>{{twiPost.content}}</p>
            
           
            <p align="right">
            	
           			<font size="1" color="grey">{{twiPost.createdTime}}</font>
           		
           	</p>

           	

        </div>
        
        <hr />


        <div class="pagination-centered">
            <uib-pagination total-items="page.totalElements" ng-model="page.currentPage" items-per-page="page.size" ng-change="pageChanged()"></uib-pagination>
        </div>

    </div>
