<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>doLatr</title>
<link rel="stylesheet" th:href="@{/resources/page.css}" type="text/css"
	media="screen"></link>
<link rel="stylesheet" th:href="@{/resources/form.css}" type="text/css"
	media="screen"></link>
<link rel="stylesheet" th:href="@{/resources/messages/messages.css}"
	type="text/css" media="screen"></link>
<link rel="stylesheet" th:href="@{/resources/css/jquery.watermark.css}"
	type="text/css" media="screen"></link>

<script th:href="@{/resources/jquery/jquery-2.1.4.min.js}"
	type='text/javascript'></script>

<script>
		$('[placeholder]').focus(function() {
  		var input = $(this);
  if (input.val() == input.attr('placeholder')) {
    input.val('');
    input.removeClass('placeholder');
  }
}).blur(function() {
  var input = $(this);
  if (input.val() == '' || input.val() == input.attr('placeholder')) {
    input.addClass('placeholder');
    input.val(input.attr('placeholder'));
  }
}).blur();

		</script>

</head>
<body>
	<div id="header">
		<h1>
			<a th:href="@{/}">doLatr</a>
		</h1>
	</div>

	<div id="content" layout:fragment="content">
		<form id="signin" th:action="@{/j_spring_security_check}"
			method="post">

			<label for="j_username">Username</label>: <input type="text"
				id="j_username" name="j_username" placeholder="your email address" />
			<br /> <label for="j_password">Password</label>: <input
				type="password" id="j_password" name="j_password"
				placeholder="your password" /> <br /> <input type="submit"
				value="Sign in" />

			<div class="row">
				<div class="right">
					<label class="forCheckbox" for='_spring_security_remember_me'>
						Remember me: <input type='checkbox'
						name='_spring_security_remember_me' />
					</label>
				</div>
				<div class="cl"></div>
			</div>

			<p>
				Or you can <a th:href="@{/signup}">signup</a> with a new account.
			</p>
		</form>

		<!-- TWITTER SIGNIN -->
		<p>
			<a th:href="@{/signin/twitter}"><img
				th:src="@{/resources/social/twitter/sign-in-with-twitter-d.png}"
				border="0" /></a>
		</p>

	</div>
</body>
</html>