<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>doLatr</title>
		<link rel="stylesheet" th:href="@{/resources/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/resources/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/resources/messages/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">doLatr</a></h1>
		</div>
						
		<div th:if="${!#strings.isEmpty(localUserExists)}">
			 
		We found a dolatr account associated with this twitter profile. Please
		 <a href="signin" class="btn btn-default"><span class="fa fa-user"></span>Signin</a>
		 with username: <span th:text="${userAccount}"></span>!
		 
		 </div>
		
    	<div th:unless="${!#strings.isEmpty(localUserExists)}" id="content" layout:fragment="content" >
    		<h3>Sign Up</h3>
			
			<div th:if="${!#strings.isEmpty(message)}"
				 th:class="${message.type.cssClass}" 
				 th:text="${message.text}">error message text</div>
			
			<form id="signup" th:action="@{/signup}" method="post" th:object="${signupForm}">
				
				<div class="formInfo">
					<div class="error" th:if="${#fields.hasErrors('*')}">Unable to sign up. Please fix the errors below and resubmit.</div>
				</div>
				
				<fieldset>
					
					<label for="username">Username <span th:if="${#fields.hasErrors('username')}" class="error" th:text="${#fields.errors('username')[0]}">Error</span></label>
					<input type="text" th:field="*{username}" />
					<label for="password">Password (at least 6 characters) <span th:if="${#fields.hasErrors('password')}" class="error" th:text="${#fields.errors('password')[0]}">Error</span></label>
					<input type="password" th:field="*{password}" />
				</fieldset>
				<p><button type="submit">Sign Up</button></p>
			</form>
		</div>
    	
		
	</body>
</html>
